architecture
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "camaral-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -208,
        0
      ],
      "id": "f33659c7-e4a3-412f-ab28-f8c954c2bbd5",
      "name": "Webhook",
      "webhookId": "cfc46022-44b3-48be-9d7f-3fced2b36c14"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        960,
        0
      ],
      "id": "7d3cbdc4-7bd4-427e-baad-e8319a510ac3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "=define",
        "text": "=Contexto (KB desde GitHub):\n{{ $node[\"Edit Fields1\"].json.kb }}\n\nPregunta del usuario:\n{{ $node[\"Webhook\"].json.body.message }}\n\nModo:\n{{ $node[\"Webhook\"].json.body.mode }}",
        "messages": {
          "messageValues": [
            {
              "type": "AIMessagePromptTemplate",
              "message": "Eres el asistente oficial de Camaral para prospectos.  Responde en español, con un tono profesional, claro y confiable.  Estructura obligatoria: 1) Resumen (1–2 líneas) 2) Detalles en viñetas 3) CTA final: “¿Quieres que agendemos una demo?”  Reglas: - No inventes información específica. Si no sabes algo, dilo y ofrece agendar una demo. - Si el modo es \"ventas\", enfatiza beneficios, conversión, velocidad y atención 24/7. - Si el modo es \"soporte\", enfatiza implementación, consistencia y atención 24/7."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ],
      "id": "7e5b164c-fc61-4858-8504-f79076a7c67c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        448,
        176
      ],
      "id": "8cb09b7d-c845-44c8-bda9-c94fa454b5a6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jY8WtnTHUON9UlP9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "541d62e3-b0d7-4550-bb57-23079a3f7327",
              "name": "=reply",
              "value": "={{$node[\"Basic LLM Chain\"].json.text}}",
              "type": "string"
            },
            {
              "id": "3eddd2d1-35e1-43da-971d-d617c26e1702",
              "name": "=conversation_id",
              "value": "={{$json.conversation_id || $execution.id}}",
              "type": "string"
            },
            {
              "id": "b281a1e0-96e3-4143-99df-c5bc1485ca6c",
              "name": "=text",
              "value": "={{$node[\"Basic LLM Chain\"].json.text}}",
              "type": "string"
            },
            {
              "id": "9cd63329-3c86-4fd2-bcf7-a40b5d36a5d6",
              "name": "=message",
              "value": "={{$node[\"Basic LLM Chain\"].json.text}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        0
      ],
      "id": "02114797-7c3e-43fd-a5ed-21d41ce98027",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "https://raw.githubusercontent.com/santiagocortes06/camaral-chatbot-demo/refs/heads/main/knowledge_base.md",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        0,
        0
      ],
      "id": "a6a7df93-56b1-4d6e-9239-435524b7e677",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba30449c-e4e9-42e5-90b6-31992121f854",
              "name": "=kb",
              "value": "={{$node[\"HTTP Request\"].json.data}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "795c8ed5-430f-4e0c-ba2c-b5e0369c875a",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2ba708c9-2fc7-4186-b0ac-ab7bc01a776d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c9fe98153e18e6b723bf423492a7eab2c33762c66d0ee5e06ce03db3c8af75e2"
  },
  "id": "qnxjPBa5KOE09v5ifqKrU",
  "tags": []
}
